@import './common.module.scss';

.add-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    #input {
        padding: 0 10px;
        color: $grey;
        font-size: 26px;
        border: 1px solid $violet;
        border-radius: 20px;
        width: 400px;
    }

    #button {
        @include button;
        font-size: 26px;
    }
}