.container-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    width: 60%;
    margin: 50px auto;

    @media screen and (max-width: 700px) {
        width: 80%;
    }

    @media screen and (max-width: 1000px) {
        width: 70%;
    }

    #title {
        font-size: 36px;
    }
}